[submodule "Nade/vendor/glfw"]
	path = Nade/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "Nade/vendor/glad"]
	path = Nade/vendor/glad
	url = https://github.com/extorc/glad
[submodule "Nade/vendor/glm"]
	path = Nade/vendor/glm
	url = https://github.com/g-truc/glm
